/* Uncomment these lines to see the position of each html element
*{ outline: 1px solid rgba(110,51,255,0.4);}
*/

.light-pink-color {
    color: #f27597;
  }
  .light-blue-top-line {
    border-top: 2px solid #34bac9;
  }
  .ligh-blue-color {
    color: #34bac9;
  } 
  .light-pink-bg {
    color:#f27597;
  }
  .hyperlink-pink, .hyperlink-pink:hover{
    color:#f27597;
  }
  .light-black-color{
    color: #505050;
  }
  .bg-light-dark{
    background: #2F2F2F;
  }
  .bg-light-blue{
    background: #34bac9
  }